@model IEnumerable<BankAssign_final.EFModels.Account>

<p>
    <a asp-action="List">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountId)
            </td>
            <td>
                @Html.ActionLink("Balance", "Balance", new {  id=item.Id  }) |
                @Html.ActionLink("Deposit", "Deposit", new { id=item.Id  }) |
                @Html.ActionLink("Withdraw", "Withdraw", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
